body {
    background-image: url('/assets/images/news.jpg');
    background-repeat: repeat-x;
    background-image: linear-gradient(to right, rgb(0, 204, 255) , rgb(241, 241, 238));
}

.container {
    width: 65%;
    margin-top: 10%;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

h1, h3 {
    text-align: center;
    margin:5%;
}

#scrapeButton {
    margin-left:45%;
    margin-bottom: 5%;
}

#articles {
    float: left;
    padding: 5%;
}

#notes {
    float: right;
    padding: 5%;
}


